.main {
    position: relative;
    z-index: 1;
}

.filme {
    width: 100%;

    padding: 2.75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;

    position: relative;
}

.filmeGradiente {
    background: linear-gradient(180deg, var(--Sombra-source) 0%, rgba(0, 38, 77, 0.00) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.8;

    position: absolute;
    left: 0;
    z-index: -1;
}

.cartaz {
    height: 21.25rem;
    border-radius: 0.5rem;

    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.filmeRightSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filmeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filmeTitulo {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.filmeTitulo img {
    --size: 3.125rem;
    width: var(--size);
    height: var(--size);
}

.filmeInfo h1 {
    color: var(--Cinza-Branco);
    font-family: "Nunito Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;

    text-transform: capitalize;
}

.filmeInfo h2 {
    color: var(--Cinza-200);

    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
}

.filmeInfo p {
    color: var(--Cinza-50);

    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;

    text-align: justify;
}

.dropDownMenus {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
}

.dropDownMenuWrapper {
    width: 19rem;
}


.sessoes {
    padding: 0 2.75rem 7.75rem 2.75rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    z-index: 0;
}

.sessoesCards {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.nenhumaSessaoEncontrada {
    color: var(--Cinza-Branco);
    text-align: center;
}

@media (max-width: 990px) {
    .dropDownMenus {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .dropDownMenuWrapper {
        width: 100%;
    }
}

@media (max-width: 672px) {
    .filme {
        flex-direction: column;
        padding: 2.75rem 1.25rem 2.75rem 1.25rem;
    }

    .sessoes {
        padding: 0 1.25rem 7.75rem 1.25rem;
    }
}