.slide {
    width: 89vw;
    height: 35vw;
    margin: 0 0.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 1s;

    position: relative;
}

.slideBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

.slideContent{
    background-color: var(--Call-to-Action-300);
    height: 80%;

    padding: 4rem;
    margin: 2.5rem 6.125rem;

    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    position: relative;
    z-index: 1;
}

.slideContent img {
    --size: 18.75rem;
    --size: 20vw;
    width: var(--size);
    height: var(--size);
}

.slideText {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;
}

.slideTextTitulo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slideText h1 {
    color: var(--Cinza-Preto);
    font-family: "Nunito Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.slideText h2 {
    color: var(--Cinza-Preto);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
}

.slideText p {
    color: var(--Cinza-Preto);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;
    text-align: justify;
}

@media (max-width: 1296px) {
    .slideContent {
        margin: 2rem 4rem;
        padding: 2rem;
    }

    .slideText {
        gap: 0.5rem;
    }

    .slideTextTitulo {
        flex-direction: row;
        justify-content: space-between;
    }

    .slideTextTitulo h2 {
        display: flex;
        align-items: center;
    }

    .slideText h1 {
        font-size: 2rem;
    }
}

@media (max-width: 990px) {

}
