.container{
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.sliderWrapper {
    width: 100%;
    margin: 4rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider {
    width: max-content;
    margin: 0 5vw ;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    position: relative;

    transform: translateX(calc(-90vw * var(--index)));
    transition: transform 0.5s;
}

.sliderButtons {
    width: max-content;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    gap: 90vw;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.arrow {
    background-color: var(--Cancel-600);
    --size: 5.5vw;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: none;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    transition: filter 0.3s;
}
.arrow img {
    width: 70%;
    height: 70%;
}
.arrow:disabled {
    cursor: auto;
}

.arrowLeft {
    transform: translateX(50%);
}

.arrowRight {
    transform: translateX(-50%);
}
.arrowRight img {
    transform: scaleX(-1);
}

.arrowRight:hover,
.arrowRight:disabled,
.arrowLeft:hover,
.arrowLeft:disabled {
    filter: brightness(80%);  
}
