.smallMovieCard{
    display: flex;
    flex-direction: column;
    width: 14.375rem;
    gap: 0.5rem;
    color: var(--Cinza-Branco);
    text-transform: uppercase;
    white-space: nowrap;
}

.smallMovieCardImage{
    height: 21.25rem;
    border-radius: 8px;
    overflow: hidden;
}

.smallMovieCardImage > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.smallMovieCardButton{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--Call-to-Action-source);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.125rem;
    letter-spacing: 0.923px;
    transition: filter 0.3s;
}

.smallMovieCardButton a{
    color: (var(--Texto-50));
}

.smallMovieCardButton:hover {
    transform: scale(1.05);
    filter: brightness(80%);
  }
