.loginMain{
    background-image: url(src/assets/Fundo-Ingresso.svg);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 4rem;
}
.textDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.logoDiv{
    color: var(--Principal-100);
}
.logoDiv h1{
    position: relative;
    font-size: 9.5rem;
}
.logoDiv span{
    text-shadow: 6px 6px 12px var(--Sombra-source);
}

.logoDiv img{
    width: 18rem;
    position: absolute;
    translate: -30% -20%;
}

.textDiv h2{
    color: var(--Cinza-50);
    max-width: 36.25rem;
}

.formDiv{
    max-width: 30.5rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2.5rem;
    background-color: var(--Principal-900);
    color: var(--Texto-50);
}
.formDiv form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.formDiv input{
    width: 100%;
    height: 2.75rem;
    border-radius: 10px;
    background-color: var(--Principal-100);
    padding-left: 1rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065rem;
}

.formDiv form a{
    width: 100%;
    text-align: start;
    margin-top: -0.5rem;
    color: var(--Cinza-100);
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

.passwordDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.eyeIcon{
    position: absolute;
    right: 1rem;
    width: 1.5rem;
    height: auto;
}

.enterButton{
    background-color: #6D98FB;
    height: 2.75rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: var(--Texto-50);
    cursor: pointer;
    transition: filter 0.5s;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}

.enterButton:hover{
    filter: brightness(80%);
}

.formDiv hr{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.registerButton{
    background-color:  var(--Confirm-source);
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
    height: 2.75rem;
    color: var(--Cinza-50);
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem 2.5rem 1.5rem;
    border-radius: 11px;
}

.eyeIcon{
    cursor: pointer;
}

.registerButton:hover{
    filter: brightness(80%);
}

@media (max-width: 550px){
    .container{
        padding: 0;
    }
    .formDiv{
        width: 100%;
    }
    .logoDiv{
        margin-top: 3rem;
    }
    .logoDiv img{
        width: 6rem;
    }
    .logoDiv h1{
        font-size: 3rem;
    }
    .textDiv h2{
        padding: 1rem;
    }
    .textDiv{
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 1400px) and (min-width: 550px){
    .logoDiv img{
        width: 9rem;
    }
    .logoDiv h1{
        font-size: 5rem;
    }
    .textDiv{
        align-items: center;
        gap: 1rem;
    }
}