.container {
    min-height: 100%;
    position: relative;
    
}

.main {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.presentationCard {
    background-image: url(src/assets/Fundo-Sala.png);
    background-size: cover;
    width: 100%;
    padding: 1rem 2rem 4.5rem 2rem;
    position: relative;
}

.presentationCardText {
    max-width: 59rem;
    color: var(--Cinza-Branco);
    display: flex;
    flex-direction: column;
}

.moviesSectionTitle {
    color: var(--Cinza-Branco);
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
}

.availableMoviesSection {
    position: relative;
    padding: 0 5.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.availableMoviesSection h1 {
    color: var(--Cinza-Branco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.availableMoviesRow {
    margin-top: 2rem;
    margin-bottom: 1rem;

    display: flex;
    gap: 1.625rem;
    flex-wrap: wrap;
    justify-content: center;
}

.availableMoviesSeeMore {
    color: var(--Cinza-Branco);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    text-decoration-line: underline;
    text-align: end;
}

@media (max-width: 990px){
    .presentationCardText{
        width: 100%;
        text-align: center;
        gap: 1rem;
    }

    .availableMoviesSection {
        padding: 0 3rem;
    }
}
