.container{
    max-width: 59.5rem;
    margin: 4rem auto;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    position: relative;
}

.backgroundImage{
    position: absolute;
    object-fit: cover;
    width: 100%;
    opacity: 0.3;
}
.container h1, .container h2{
    padding-right: 1rem;
}
.container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #004A9B;
    padding: 3rem 15rem 10rem 15rem;
}

.container input{
    width: 100%;
    height: 2.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--Principal-100);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;    
}

.registerButton{
    color: var(--Cinza-50);
    font-family: 'Poppins', sans-serif;
    border-radius: 0.625rem;
    border: none;
    background-color: var(--Principal-400);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

.registerButton:hover{
    transform: scale(1.05);
    filter: brightness(80%);
}

@media (max-width: 550px){
    .container {
        padding: 1rem;
    }
    .container form{
        padding: 2rem;
        width: 100%;
    }
}