main{
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #1e1e1e;
}

.backgroundImage{
    width: 100%;
    position: absolute;
    opacity: 0.2;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 4rem 2rem;
    width: 30.5rem;
    height: 45.125rem;
    margin: 0 auto;
    text-align: center;
    gap: 1.5rem;
    color: var(--Texto-50);
    border-radius: 0.625rem;
    background-color: var(--Principal-900);
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
}

.inputStyles{
    width: 100%;
    height: 2.75rem;
    border-radius: 0.625rem;
    background-color: var(--Principal-100);
    border: none;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

.contactForm textarea{
    resize: none;
    overflow: hidden;
    height: 20rem;
}

.contactForm button{
    color: var(--Cinza-50);
    font-family: 'Poppins', sans-serif;
    border-radius: 0.625rem;
    border: none;
    background-color: var(--Principal-400);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    cursor: pointer;
}

.contactForm button:hover{
    transform: scale(1.05);
    filter: brightness(80%);
}

@media  (max-width: 550px){
    .contactForm{
        width: 100%;
        padding: 1rem;
        border-radius: 0;
    }
}