.filmeCard {
    background: linear-gradient(180deg, var(--Sombra-source) 0%, var(--Cinza-Preto) 100%);
    width: 100%;

    padding: 1rem 1.375rem 1.5rem 1.375rem;

    border-radius: 8px;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sectionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.capa {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.cartazImg {
    width: 100%;

    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}

.titulo {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo h1 {
    color: var(--Texto-50);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.titulo img {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.descricao p {
    color: var(--Texto-50);
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    text-align: justify;
}

.verSessoesBotao {
    background-color: var(--Call-to-Action-source);
    width: 13rem;
    padding: 0.5rem;

    border-radius: 0.5rem;

    color: var(--Texto-50);
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;

    text-align: center;
}

.verSessoesBotao:hover {
    cursor: pointer;
}

@media (max-width: 1379px) {
    .filmeCard {
    }
}
