.arrowButton {
    --size: 4rem;
    width: var(--size);
    height: var(--size);

    cursor: pointer;
}


.pageButton{
    --size: 4rem;
    width: var(--size);
    height: var(--size);

    background-color: var(--Sombra-source);
    border-radius: 0.5rem;

    color: var(--principal-100, #D2DBFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.pageButtonNotSelected:hover {
    background-color: var(--Sombra-800);
}

.pageButtonSelected {
    background-color: var(--Complementar-500);
    cursor: default;
}

.retButton {
    cursor: default;
}
