.searchSection {
    background-color: var(--Principal-800);
    height: 15.625rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;

    z-index: 1;
}

.searchSectionWrapper {
    width: 65rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.searchBar input {
    background-color: var(--Cinza-50);
    border: 0;
    flex-grow: 1;
    height: 3rem;

    padding: 0.75rem 1rem;
    border-radius: 1.5rem;

    color: var(--Cinza-Preto);
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.searchBar input:focus {
    outline: 0.125rem solid var(--Cinza-Preto);
}

.searchBarIconsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    position: absolute;
    right: 0;
}

.clearButton {
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
}

.searchBarIcon {
    background-color: var(--Sombra-source);
    width: 3.625rem;
    height: 3.625rem;
    border-radius: 3.625rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.searchBarIcon img {
    --size: 2.75rem;
    width: var(--size);
    height: var(--size);
}

.searchDropDownMenus {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.dropDownMenuWrapper {
    width: 19rem;
}


@media (max-width: 1296px) {
    .searchSectionWrapper {
        width: 80%;
    }

    .searchDropDownMenus {
        gap: 2rem;
    }
}

@media (max-width: 990px) {
    .searchSectionWrapper {
        width: 90%;
    }
}

@media (max-width: 672px) {
    .searchDropDownMenus {
        flex-direction: column-reverse;
    }

    .dropDownMenuWrapper {
        width: 100%;
    }
}
