.aside {
    box-sizing: border-box;
    max-width: 21rem;
    height: 48.75rem;
    /* border: 3px solid yellow; */
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.295);
    margin-bottom: 5rem;
}

.contentCapa {
    background-color: var(--Sombra-source);
    padding: 1rem;
}

.contentCapa > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    translate: 0% 15%;
    /* border: 2px solid orange; */
}

.contentCapa > div > img {
    width: 7rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 3.266px;
    box-shadow: 0px 3.25px 3.25px 0px rgba(0, 0, 0, 0.25);
}

.contentCapa > div > div > p {
    font-size: 1rem;
    font-size: 1.225rem;
    color: #FFFFFF;
}

.contentCapa > div > div > div {
    display: flex;
    justify-content: space-between;
}

.contentCapa > div > div > div > span {
    background-color: var(--Call-to-Action-source);
    width: 3.375rem;
    font-family:  'Roboto', sans-serif;;
    font-weight: 600;
    border-radius: 0.188rem;
}

.contentCapa > div > div > div > span:first-of-type {
    padding: 0.25rem 0rem 0.25rem 1rem;
}

.contentCapa > div > div > div > span:last-child {
    display: inline-block;
    padding: 0.25rem 0rem 0.25rem .4rem; 
}


/************************************ Content Form ************************************/

.contentForm {
    background-color: #DDDDDD;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}

.title h2{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.frametitle {
    background-color: #CCCCCC;
    width: 16.875rem;
    height: 22rem;
    margin-top: 0.25rem;
    padding-top: 0.625rem;
    border-radius: 0.25rem;
    border: .170rem solid #8a89894a;
}

.commentForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fromInputText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fromInputText input {
    margin-left: 0.625rem;
    width: 250px;
    padding: 0.25rem;
    border-radius: 5px;
    border: none;
}

.fromInputText label {
    margin-left: 0.625rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.commentForm button {
    background-color: var(--Call-to-Action-source);
    color: #F3F3F3;
    border-radius: 8px;
    border: none;
    padding: 0.75rem 1.125rem;
    cursor: pointer;

    margin: 2rem;
}

.aside button:hover {
    background-color: var(--Call-to-Action-500);
}

.moviePoster{
    margin-bottom: 0rem;
}

