.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0, 0.7);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 46.875rem;
    height: 18.75rem;
    background-color:  var(--Call-to-Action-source);
    border-radius: 0.598rem;
}

.modal > div {
    display: flex;
    flex-direction: column;
}


.modal > div > h1,
.modal > div > h2 {
    display: flex;
    margin-left: 2.5rem;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.modelTitle {
    display: flex;
    margin-left: 2.5rem;
    color: white;
    font-size: 16px;
}

.modelButton {
    width: 600px;
    display: flex;
    gap: 2rem;
    margin-top: 0.938rem;
    margin-left: 8.125rem;
    /* border: 2px solid black; */
}

.modelButton button:first-of-type {
    background-color: var(--Cancel-700);
    text-transform: uppercase;
    margin-top: 1.563rem;
    width: 14.438rem;
    height: 6rem;
    font-size: 1.5rem;
    padding: 1.563rem 1.25rem;
}


.modelButton button:last-of-type {
    background-color: var( --Complementar-2-400);
    text-transform: uppercase;
    margin-top: 25px;
    width: 14.438rem;
    height: 6rem;
    font-size: 1.5rem;
    padding: 1.563rem 1.25rem;
}