.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0, 0.7);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 46.875rem;
    height: 18.75rem;
    background-color:  var( --Confirm-400);
    border-radius: 0.598rem;
}

.modal h1 {
    margin-top: 1.25rem;
    letter-spacing: 0.004rem;
}

.modal > div > h1, 
.modal > div > h2 {
    display: flex;
    margin-left: 2.5rem;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.modelTitle {
    display: flex;
    margin-left: 2.5rem;
    color: white;
    font-size: 16px;
}

.out {
    padding-top: 20px;
    padding-left: 700px;
    cursor: pointer;
}
