.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 56.25rem;
    height: 43.75rem;
    margin-top: 3rem;
    background-color: #141414;
    box-shadow: 0 0 10px 4px;
}

.screen {
    width: 56.10rem;
    height: 3.125rem;
}

.screen > p {
    background-color: var(--Call-to-Action-source);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.ranks {
    margin-top: 3rem;
    width: 48.813rem;
    height: 27rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ranks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ranks ul li {
    color: #9b9b9b;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.075px;
    text-transform: uppercase;
    list-style: none;
}

.assentos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fileira {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fileiraAssentos {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.assentoButton {
    all: unset;
}

.room hr {
    width: 48.438rem;
    height: 0.313rem;
    border: none;
    background-color: #9b9b9b;
    margin-top: 2rem;
}

.subtitle {
    width: 48.438rem;
    height: 4.25rem;
}

.subtitle > p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.005rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075px;
    text-transform: uppercase;
    list-style: none;
    color: #B0B0B0;
    margin-top: 8px;
}

.subtitle > div {
    display: flex;
    flex-direction: row;
}

.subtitle > div > div {
    margin-right: 30px;
}

.subtitle > div > div > span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.005rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075px;
    list-style: none;
    color: #B0B0B0;
    margin-left: 10px;
    margin-bottom: 30px;
    
}
