.background {
    width: 100%;
    height: 100%;

    background-color: var(--Fundo);

    overflow: hidden;

    position: absolute;
    z-index: -1;
}

.image {
    background-image: url("../../src/assets/Fundo-Ingresso.svg");
    object-fit: cover;
    width: 100%;
    height: 100%;

    opacity: 0.2;
}
