.dropDownMenu {
    width: 100%;
    position: relative;
}

.buttonSelect {
    background-color: var(--Complementar-800);
    height: 3.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);

    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem 0 1.5rem;

    position: relative;

    transition: border-radius 0.25s 0.5s;
}

.buttonSelect:hover {
    cursor: pointer;
}

.dropDownMenuOpened .buttonSelect {
    border-radius: 0.75rem 0.75rem 0 0;
    transition: border-radius;
}

.highLighBorder {
    background-color: var(--Principal-source);
    width: 0.75rem;
    height: 100%;

    position: absolute;
    left: 0;
}

.buttonSelect h1 {
    color: var(--Principal-100);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.buttonSelect img {
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);

    transition: transform 0.5s;

    pointer-events: none;
}

.dropDownMenuDisabled .buttonSelect img {
    visibility: hidden;
}

.dropDownMenuOpened .buttonSelect img {
    /*transform: rotate(-180deg);*/
    transform: scaleY(-1);
}

.items {
    width: 100%;
    height: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    position: absolute;

    transition: height 0.5s;
}

.dropDownMenuOpened .items {
    height: calc(var(--items) * 3.25rem);
}

.itemsWrapper {
    background-color: var(--Complementar-800);
    width: 100%;
    border-radius: 0.75rem;

    overflow: hidden;

    position: absolute;
    bottom: 0;

    transition-property: border-radius;
    transition-duration: 0.5s;
}

.dropDownMenuOpened .itemsWrapper {
    border-radius: 0 0 0.75rem 0.75rem;
}

.item {
    width: 100%;
    height: 3.25rem;
    padding: 0 1rem 0 1.5rem;

    display: flex;
    align-items: center;

    color: var(--Principal-100);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.item:hover {
    color: var(--Principal-400);
    cursor: pointer;
}
