.footer {
    width: 100%;
    position: absolute;
}

.footer h2 {
    color: #FFF;
}

.footerColumn {
    background-color: var(--Sombra-source);
    width: 100%;
    height: fit-content;
    padding: 1rem 2rem 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1rem;
    
    position: relative;
}

.gridCentralizeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.footerInfoRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footerInfoRow span {
    display: block;
    color: var(--principal-100, #D2DBFF);
}


.footerColumn iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.socialMediaIcons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footerLogo {
    max-width: 30vw;
    height: 100%;
}

.footerCopyright {
    background-color: var(--Sombra-2-900);
    padding: 0.5rem;
    text-align: center;
    color: var(--cinza-100, #DDD);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.675px;
    width: 100%;
}

@media (max-width: 990px) {
    .footerColumn {
        grid-template-columns: repeat(3, 1fr);
    }

    .footerInfo {
        gap: 1rem;
    }
}

@media (max-width: 672px){
    .footerColumn {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1rem;
    }
    .footerInfo {
        align-items: center;
    }
    .footerInfo span {
        text-align: center;
    }
    .footerInfoRow {
        align-items: center;
    }

    .footerLogo {
        width: 100%;
        max-width: none;
    }
}