.header{
    background-color: var(--Principal-source);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 10.625rem;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1 {
    color: var(--Principal-100);
    position: relative;
    left: -4rem;
    top: 0.7rem;
    display: flex;
}

.logo h1 span{
    text-shadow: 2px 2px 4px var(--Sombra-source);
}

.loggedMessage {
    color: var(--Principal-100);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.header img:hover{
    transform: scale(1.05);
    filter: brightness(80%);
}

@media screen and (max-width: 550px){
    .header{
        justify-content: center;
        gap: 0.2rem;
    }
    .logo{
        padding-left: 2rem;
    }
}
