.filtros {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.filtroButton {
    min-width: 6.5rem;
    width: max-content;
    border-radius: 1.5rem;
    border: 0.25rem solid var(--Principal-source);

    color: var(--Principal-source);
    text-align: center;

    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;
}

.filtroButtonOn {
    background-color: var(--Principal-source);
    color: var(--Cinza-Branco);
}

@media (max-width: 672px) {
    .filtros {
        gap: 0.75rem;
        justify-content: center;
    }
}
