.card {
    max-width: 80rem;

    background-color: var(--Fundo);
    padding: 1.5rem 1.5rem 3rem 1.5rem;


    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;

    gap: 1.75rem;
}

.titulo {
    background-color: var(--Call-to-Action-400);
    width: fit-content;
    padding: 0 1.25rem;
    border-radius: 0.25rem;

    color: var(--Texto-source);
    text-align: center;

    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sessoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.sessao {
    border-radius: 5px;
    border: 0.25rem solid var(--Principal-source);
    padding: 0.5rem 1.25rem;

    color: var(--Principal-source);
    text-align: center;

    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 600;

    cursor: pointer;
}

.sessao:hover {
    color: var(--Cinza-Branco);
    background-color: var(--Principal-source);
}
