.filmes {
    padding: 5.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.filmesWrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.filmesWrapper h1 {
    color: var(--Texto-50);

    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.filmesWrapper h2 {
    color: var(--Texto-50);

    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;

    align-self: center;
}

.cartazes {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7.75rem;
    grid-row-gap: 2rem;
}


@media (max-width: 1296px) {
    .cartazes {
        column-gap: 2rem;
    }
}

@media (max-width: 990px) {
}

@media (max-width: 672px) {
    .cartazes {
        grid-template-columns: 1fr;
    }
}
