
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap');

:root{
    --Principal-source: #0066cc;
    --Principal-900: #003877;
    --Principal-800: #004a9b;
    --Principal-500: #4a84ec;
    --Principal-400: #6d98fb;
    --Principal-100: #d2dbff;

    --Complementar-source: #0bb0e3;
    --Complementar-900: #00405e;
    --Complementar-800: #00557b;
    --Complementar-500: #0092c3;
    --Complementar-400: #2ba7d4;
    --Complementar-100: #bfe2f5;

    --Complementar-2-source: #0bd9d3;
    --Complementar-2-900: #004442;
    --Complementar-2-800: #005a57;
    --Complementar-2-500: #009a95;
    --Complementar-2-400: #00aea9;
    --Complementar-2-100: #b6e6e3;

    --Sombra-source: #00264d;
    --Sombra-900: #2b3955;
    --Sombra-800: #394b70;
    --Sombra-700: #4a5e89;

    --Sombra-2-source: #004c99;
    --Sombra-2-900: #1a386a;
    --Sombra-2-800: #224a8b;
    --Sombra-2-700: #305da8;

    --Call-to-Action-source: #cc8000;
    --Call-to-Action-500: #bf7600;
    --Call-to-Action-400: #d48c29;
    --Call-to-Action-300: #e6a352;

    --Cancel-source: #cc2014;
    --Cancel-700: #bb180f;
    --Cancel-600: #d82f1e;

    --Confirm-source: #00cc54;
    --Confirm-600: #008912;
    --Confirm-400: #03b349;

    --Texto-source: #001122;
    --Texto-50: #f2f4f7;

    --Cinza-Preto: #000000;
    --Cinza-900: #393939;
    --Cinza-800: #4b4b4b;
    --Cinza-700: #5e5e5e;
    --Cinza-600: #727272;
    --Cinza-500: #868686;
    --Cinza-200: #c6c6c6;
    --Cinza-50: #f3f3f3;
    --Cinza-Branco: #ffffff;

    --Fundo: #1e1e1e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100% !important;
    min-height: 100vh !important;
    position: relative !important;
}

a{
    text-decoration: none;
}

h1{
    /* Títulos */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


h2{
    /* Subtítulos */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.06px;
}

p{
    /* Texto Corrido */
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.063px;
}

button{
    /* Texto Funcional */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075px;
    text-transform: uppercase;
}